* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    box-sizing: border-box;
}

section {
    background-image: url(/images/1804.jpg);
    background-size: cover;
    border: solid 2px;
    margin: 1%;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 12%;
}

h1 {
    margin-bottom: 4%;
    text-decoration: underline 3px rgb(255, 255, 255);
    text-underline-offset: 0.2em;
    font-family: 'Poiret One', cursive;
    font-size: 3em;
}
/* select your choice normal */
#playerchoice {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5%;
}

img {
    cursor: pointer;
}

#paper {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    width: 10%;
    padding: 2%;
    border: solid 0.15em rgb(107, 183, 199);
    box-shadow: 4px 4px 4px rgb(255, 255, 255);
}

#rock {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    width: 10%;
    padding: 2%;
    border: solid 0.15em rgb(107, 183, 199);
    box-shadow: 4px 4px 4px rgb(255, 255, 255);
}

#scissors {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    width: 10%;
    padding: 2%;
    border: solid 0.15em rgb(107, 183, 199);
    box-shadow: 4px 4px 4px rgb(255, 255, 255);
}
/* select on hover */
#paper:hover{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    border: solid 0.15em rgb(222, 171, 19);
    box-shadow: 4px 4px 4px rgb(216, 210, 120);
}

#rock:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    width: 10%;
    padding: 2%;
    border: solid 0.15em rgb(222, 171, 19);
    box-shadow: 4px 4px 4px rgb(216, 210, 120);
}

#scissors:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.842);
    width: 10%;
    padding: 2%;
    border: solid 0.15em rgb(222, 171, 19);
    box-shadow: 4px 4px 4px rgb(216, 210, 120);
}
#battle{
    margin: 10% 20% 10% 20%;
    height: 15vh;
    max-width: 60%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(201, 202, 187);
    background-color: rgba(255, 255, 255, 0.548);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#battle div{
    padding-top: 3%;
}

/* score battle */

.score_game{
    max-width: 12%;
    margin: 5% 20% 5% 20%;
    max-width: 60%;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(201, 202, 187);
    background-color: rgba(255, 255, 255, 0.842);
    border: solid 0.15em rgb(174, 173, 162);
    display: flex;
    align-items: center;
}
p{
    font-size: 1em;
    font-weight: 700;
    display: flex;
}
img{
    max-width: 12%;
    padding: 5%;
}
